<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <map name="workmap">
      <area shape="rect" coords="34,44,270,350" alt="" />
      <area shape="rect" coords="290,172,333,250" alt="" />
      <area shape="circle" coords="337,300,44" alt="" />
    </map>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
    <script src="assets/code.js"></script>
    <link
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <title>Detection</title>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $("#blah").attr("src", e.target.result).width(150).height(200);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </head>

  <body>
    <br />
    <a href="index.html"
      ><img class="logo" src="assets/final_v1.png" alt=""
    /></a>
    <br />
    <div class="container main">
      <div class="jumbotron" id="holder">
        <h2 class="main_heading">Defect Detection Model</h2>
        <h3>Upload your image here</h3>

        <form
          class="form-horizontal"
          method="POST"
          action="/predict"
          enctype="multipart/form-data"
        >
          <input type="file" name="file" onchange="readURL(this);" />
          <img id="blah" src="#" alt="" usemap="#workmap" />
          <br />
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
