<html>
  <head>
    <title>Submitted form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>IMAGE RESULT</h1>
      </div>
      <div id="main">
        <p>Thanks for your submission!</p>
        <p>Here's a review of the information that you sent:</p>
        <p>
          <strong>status</strong>: {{name}} <br />
          <strong>prediction</strong>: {{email}} <br />
          <strong>confidence</strong>: {{site}} <br />
          
        </p>
        <img id="blah"  alt="">{{comments}}</img>
      </div>
    </div>
  </body>
</html>
